---
title: Home
description: 日本に友達を作ろう。日本語で手紙をもらって、自分も日本語を手で書いて。
image: /images/family.jpg
bottom_image: /images/family.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">世界ペンパル by Okaeri house</h1>
			<p class="subtext editable">日本語で世界と繋がろう。海外に住む、日本語を話す同年代と文通して、友達になろう。</p>
			<div class="cta button alt"><a href="https://forms.gle/gywStoKi1dYFNks76">登録フォーム</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">国際の家族</h2>
				<p class="editable">日本に友達を作ろう。日本語で手紙をもらって、自分も日本語を手で書いて。こちらへ：<a href="https://forms.gle/gywStoKi1dYFNks76">国際登録フォーム</a></p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">国内の家族</h2>
				<p class="editable">日本語で世界と繋がろう。海外に住む、日本語を話す同年代と文通して、友達になろう。こちらへ：<a href="https://forms.gle/FPN9vgM7ve8mT19KA">国内登録フォーム</a></p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>


	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your penpal today</h2>
				<!-- <p class="subtext editable"></p> -->
				<div class="cta button alt"><a href="https://forms.gle/gywStoKi1dYFNks76">登録フォーム</a></div>
			</div>
		</div>
	</section>
</div>
